
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Nunito&family=Oswald:wght@200;400&family=Outfit:wght@300&family=Roboto+Condensed&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'AR One Sans', sans-serif;

 
}

#title{
  font-weight: bold;
}
#para{
  font-weight: 600;
}
#clg{
  font-weight: bold;
}